<h1>Sonic Detail Screen</h1>
<p class="indexcontent">Content: <%= @sonic.content %></p>
<tr>
<td><button type="button" class="editsonic"><%= link_to 'Edit Sonic', edit_sonic_path(@sonic) %></td>
<td><button type="button" class="chackdetails"><%= link_to 'Back', sonics_path %></td>
</tr>
